h1 {
  padding: 0
}

/* .chat-area, .home {
    margin-top: 60px;
  } */
  
  .chat-area {
    height: 90%;
    overflow-y: scroll;
  }
  
  .chat-area .chat-bubble {
    background-color: #accd92;
    padding: 20px;
    border-radius: 4px;
    max-width: 300px;
    word-wrap: break-word;
  }
  
  .chat-bubble .chat-time {
    font-size: 12px;
    color: #444;
    text-align: right;
  }
  
  .chat-area .chat-bubble.current-user {
    margin-left: auto;
    background-color: #a5d6a7;
  }
  

  .btn-submit {
    background-color: #77BB3F;
    color: white;
  }

  .content {
    margin: auto;
    width: 500px;
    margin-top: 100px;
    margin-bottom: 20px;
}

  
@media (min-width: 400px) and (max-width:900px) {
    .content {
        margin-top: 100px;
        width: 65%;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 25px;
    }
    .content {
        margin-top: 30%;
        width: 90%;
    }
}