.content {
    margin: auto;
    width: 30%;
    margin-top: 10%;
}

.box {
    border-radius: 20px;
    box-shadow: 1px 3px 6px #444;
    margin: 10px 0px;
  }
  .box:last-of-type {
    padding-bottom: 2.5%;
  }   
  
  .item {
    margin: 5px 0;
    padding: 2.5% 5% 0%;
  }
  

@media (max-width: 400px) {
    h1 {
        font-size: 25px;
    }
    .content {
        margin-top: 30%;
        width: 70%;
    }
    .item {
        margin: 5px 0;
        padding: 5% 6% 0%;
    }
    .box:last-of-type {
        padding-bottom: 5%;
    }   
}